name: Node.js CI/CD to GCP Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.NODE_APP_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.DEVOPS_NODE_APP }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.DEVOPS_NODE_APP }}/nodeapp/nodeapp:latest .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.DEVOPS_NODE_APP }}/nodeapp/nodeapp:latest

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: nodeapp
          image: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.DEVOPS_NODE_APP }}/nodeapp/nodeapp:latest
          region: ${{ secrets.GCP_REGION }}
          allow-unauthenticated: true